body {
	margin:10px;
	background-color: #192231;
	font-family: 'Raleway', cursive;
	font-weight: 200;

}

.panel-default > .panel-heading {
	background-color: #494e6b;
	color:#985e6d;
	font-weight: 200;
	border:none;	
}

.panel-default {
	border:1px solid #985e6d;
	font-weight: 200;
}

.btn-default {
	
	background-color: #985e6d;
	color:#192231;
	font-weight: 200;
}

.footer {
	color:#E7DfDD;
}

.panel-body {
	background-color: #192231;
	color:#985e6d;
	font-weight: 200;
	
}

th {
	font-weight: 200;
}